form#searchform {
	float:right;
}
button {
	float:right;
	color:#fff;
	font-size:em(15);
	background:#000;
	font-weight:600;
	padding:em(3) em(8);
	margin:em(20) 0 em(18) em(18);
	border:1px solid #fff;
}
input {
	float:right;
	padding:0 em(8);
	min-width:220px;
	min-height:26px;
	border:1px solid #fff;
	@include appearance(none);
	margin-right:em(18);
	font-size:em(12);
	@include placeholder {
		color:#000;
	}
}
.styled-select {
  float:right;
	width:225px;
   height: 26px;
   overflow: hidden;
   margin:em(10) 0;
    line-height:21px;
   background:$brand-dark url(#{$assetPath}/down-arrow-select.svg) no-repeat right;
   border: 1px solid #ccc;
}
select::-ms-expand {
    display: none;
}
.styled-select select {
	 background: transparent;
   width: 268px;
   padding:em(0) em(8) em(6) em(8);
   font-size: 12px;
  
   border: 0;
   border-radius: 0;
   height:26px;
   margin:0;
   color:#fff;
   -webkit-appearance: none;
}
select option {
	color:#000;
    background: #fff;
}
