button {
	float:right;
	color:#fff;
	font-size:em(15);
	background:#000;
	font-weight:600;
	padding:em(3) em(8);
	margin:em(20) 0 em(18) em(18);
	border:1px solid #fff;
}
input {
	float:right;
	padding:0 em(8);
	min-width:220px;
	min-height:27px;
	border:1px solid #fff;
	@include appearance(none);
	margin-right:em(18);
	font-size:em(12);
	@include placeholder {
		color:#000;
	}
}
select::-ms-expand {
    display: none;
}
select {
	float:right;
	min-width:220px;
    font-weight: normal;
    line-height:1.2em;
    margin: 0 0 10px;
    padding:em(3) em(8);
    border: 0 none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
	font-size:em(12);
    background:$brand-dark url(#{$assetPath}/down-arrow-select.svg) no-repeat right;
	color:#fff;
	font-weight:600;
	border:1px solid #fff;
	@include appearance(none);
}
select option {
	color:#000;
    background: #fff;
}