nav {
	width:100%;
	background:$shade;
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
		li {
			float:left;
			a {
				display:block;
				color:#000;
				font-size:em(15);
				font-weight:600;
				text-align:center;
				padding:em(10) em(8) em(10) em(8);
				text-decoration:none;
				@include transition (background 0.2s linear);
				&:hover {
					color:#fff;
					background:$brand-second;
				}
			}
			span {
			}
			&.current_page_item a {
				color:#fff;
				background:$brand-second;
			}
			&.separator {
				line-height:40px;
			}
		}
	}
}

nav li ul li > a:after { 
	 content:' >';
} 
nav li ul li > a:only-child:after { 
	content: ''; 
}

nav ul li:hover a {
	color:#fff;
	background:$brand-second;
}

/* Navigation Second Level */
nav ul li ul {
	position:absolute;
	display:none;
	height:auto;
	min-width:210px;
	height: 0;
	
}
nav li:hover > ul {
	display:block
}
nav li li {
    position:relative;
	display:block;
	float:none;
}
nav li ul a {
	color:#fff;
	display:block;
	text-align:left;
	padding:em(10) em(8) em(10) em(8);
	background:$brand-second;
	white-space: nowrap;
	&:hover {
		background:#fcb765;
	}
}
nav li li ul {
	position:absolute;
    top:0;
    left:100%;
}