/* GENERAL */
body {
	font-size:100%;
	font-family: "open-sans",sans-serif;	
	background:$shade;
}

a,
a:visited {
	color:#000;
	text-decoration:none;
}
a:hover {
	color: $linkHoverColor;
}

::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}

.leftalign {
	float:left;
}
.rightalign {
	float:right;
}

/* STRUCTURE */
.wrapper {
	max-width: $pageWidth;
	margin:0 auto;
	@include microclearfix;
}
.container {
	max-width: $pageWidth;
	margin:0 auto;
	background-color:#fff;
}

.topbar {
	width:100%;
	min-height:em(55);
	display:inline-block;
	padding:em(20) 0 em(10) 0;
	background:#000;
	@include bp(tablet) {
		padding-top:em(12);
	}
	img {
		width:100px;
		height:22px;
		margin-top:em(8);
		@include bp(tablet) {
			width:auto;
			height:auto;
		}
	}
	input, select {
		margin-top:em(13);
	}
}
header {
	background:$brand-dark;
	h1 {
		float:left;
		margin:0;
		font-size:em(32);
		line-height:34px;
		padding:em(8) 0 em(8) 0;
		margin-right:em(70);
		a.logo {
			color:$brand-second;
			text-decoration:none;
		}
	}

	p {
		float:right;
		color:#fff;
		font-size:em(16);
		margin:em(22) 0;
		&.date {
			float:left;
		}
	}
}

aside {
	float:left;
	width:220px;
	background:$shade;
	ul {
		list-style-type:none;
		padding:0;
		margin:0 0 em(10) 0;
		li {
			border-bottom:1px solid $brand-dark;
			&:last-child {
				border:none;
			}
			a {
				display:block;
				color:$brand-dark;
				font-size:em(12);
				padding:em(8) em(12);
				&:hover {
					color:#fff;
					background:$brand-dark;
				}
			}
			ul {
				margin-left:em(20);
				li {
					border-bottom:none;
					a:hover {
						color:$brand-dark;
						background:none;
						text-decoration:underline;
					}
				}
			}
		}
	}
}

section#main {
	min-height:em(707);
	padding-top:em(24);
	background-image:url(#{$assetPath}/background.jpg);
	background-color:#fff;
	background-position:bottom center;
	background-repeat:no-repeat;	
}

section.main-content {
	float:right;
	width:697px;
	h1 {
		margin-top:0;
		font-size:em(24);
		font-weight:600;
	}
	h2 {
		margin-top:0;
		font-size:em(20);
		font-weight:400;
	}
	h3 {
		margin-top:0;
		font-size:em(16);
		font-weight:400;
	}
	h4 {
		margin-top:0;
		font-size:em(12);
		font-weight:400;
	}
	p {
		font-size:em(12);
	}	
}

.downloads {
	list-style-type:none;
	margin:0;
	padding:0;
	li a {
		color:$brand-dark;
		font-size:em(12);
		text-decoration:underline;
	}
}

.col-one,
.col-three {
	float:left;
	width:467px;
	margin-right:1px;
	border-top:1px solid $brand-dark;
	&.noborder {
		border:none;
	}
	h1 {
		color:#fff;
		font-size:em(16);
		font-weight:700;
		padding:em(5) em(12);
		margin-bottom:em(12);
		text-transform:uppercase;
		background:$brand-second;
	}
}
.col-two {
	float:left;
	width:225px;
	min-height:178px;
	margin-left:11px;
	padding:0 em(12) em(12) em(12);
	border-top:1px solid $brand-dark;
	background:$shade;
}
.col-three {
	float:right;
	width:461px;
}

.col-one,
.col-two,
.col-three {
	h2 {
		color:$brand-dark;
		font-size:em(16);
		font-weight:600;
	}
	img {
		float:left;
	}
	p {
		font-size:em(12);
		margin:0;
		overflow: hidden;
	}
	a {
		float:right;
		width:137px;
		color:$brand-dark;
		font-size:em(12);
		margin-top:em(10);
		text-decoration:underline;
	}
}

.col-three {
	a {
		float:none;
		width:auto;
		color:#000;
		font-size:em(16);
		text-decoration:none;
	}
}

.col-one,
.col-two,
.col-three {
	&.leftalign {
		float:left;
	}
	&.rightalign {
		float:right;
	}
}

figcaption {
	width:100%;
	display:inline-block;
	font-size:em(12);
	padding:em(9) 0 em(10) 0;
}

.logo-block {
	float:left;
	width:230px;
	min-height:90px;
	margin-right:em(7);
	border:1px solid $darkshade;
	border-radius:em(5);
	@include background(linear-gradient(#f7f7f7, #eeeeee, #ececec) left repeat);
	&:nth-of-type(even) {
		margin-right:0;
	}
}

.social-feeds {
	width:100%;
	display:inline-block;
	margin:em(34) 0 0 0;
	padding-top:em(12);
	border-top:1px solid $shade;
}

.col4 {
	float:left;
	width:226px;
	margin:0 em(6);
	padding-top:em(7);
	&.first {
		margin-left:0;
	}
	&.last {
		margin-right:0;
	}
	h4 {
		font-size:em(16);
		font-weight:600;
		margin:0;
		img {
			margin-right:em(14);
		}
	}
	p {
		font-size:em(12);
		a {
			color:$brand-dark;
		}
	}
}



footer {
	padding-top:em(24);
	.col {
		float:left;
		width:148px;
		margin-right:em(12);
	}
	p {
		font-size:em(12);
		margin:0;
	}
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
		li a {
			font-size:em(12);
		}
	}
}







