// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 940px;

// Other
$brand-dark: #4f2d5b;
$brand-second:#f9a435;
$shade:#F6F6F6;
$darkshade:#3B3B3B;

// Text Selection
$selectionColor: orange;

// Links
$linkColor:$brand-second;
$linkHoverColor:$brand-second;



// Path to images
// Use #{$assetPath}/
$assetPath : "assets/images";
